@font-face {
  font-family: "iconfont"; /* Project id 3870381 */
  src: url("//at.alicdn.com/t/c/font_3870381_xbq70n6uur.woff2?t=1697534196887")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3870381_xbq70n6uur.woff?t=1697534196887")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3870381_xbq70n6uur.ttf?t=1697534196887")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaping1:before {
  content: "\e7d4";
}

.icon-fenxiang:before {
  content: "\e606";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-yingyong:before {
  content: "\e7b7";
}

.icon-dengpao:before {
  content: "\e61b";
}

.icon-wenhao:before {
  content: "\e72e";
}

.icon-jushoucang:before {
  content: "\e644";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-04:before {
  content: "\e608";
}

.icon-diannao_o:before {
  content: "\eb49";
}

.icon-chaping-xianxing:before {
  content: "\e7d6";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-gongkaijieguo:before {
  content: "\e610";
}

.icon-renwu:before {
  content: "\e60b";
}

.icon-caiji:before {
  content: "\e62c";
}

.icon-moban:before {
  content: "\e602";
}

.icon-rizhi:before {
  content: "\e648";
}

.icon-jiaoyi:before {
  content: "\e605";
}

.icon-tuichu:before {
  content: "\e611";
}

.icon-yonghu:before {
  content: "\e612";
}

.icon-anzhuangshouce:before {
  content: "\e7e9";
}

.icon-fankui:before {
  content: "\e660";
}

.icon-weixin1:before {
  content: "\e65f";
}

.icon-gitee-fill-round:before {
  content: "\e687";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-line-back:before {
  content: "\e643";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-appstore:before {
  content: "\e94f";
}

.icon-home1:before {
  content: "\e626";
}

.icon-appstore1:before {
  content: "\e75a";
}

.icon-usergroup:before {
  content: "\e6ba";
}

.icon-task:before {
  content: "\e60c";
}

.icon-layers:before {
  content: "\e675";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-times-circle:before {
  content: "\e79f";
}

.icon-xiaosanjiaodown:before {
  content: "\e60e";
}

.icon-xiaosanjiaoup:before {
  content: "\e60f";
}

.icon-briefcase:before {
  content: "\e635";
}

.icon-store:before {
  content: "\e6cd";
}

.icon-database:before {
  content: "\e686";
}

.icon-stack:before {
  content: "\e780";
}

.icon-duigou:before {
  content: "\e627";
}

.icon-biaoqian:before {
  content: "\e6af";
}

.icon-a-jiaohuanfanxiang:before {
  content: "\e630";
}

.icon-zhibo:before {
  content: "\e7d5";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-zhaopin:before {
  content: "\e647";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-gongshangcaishui:before {
  content: "\e72d";
}

.icon-weizhi:before {
  content: "\e681";
}
